/*
  #FNT Company - Twrecks
  #Desing to Index.html
  #Copy Right by FNT Company & Twrecks 2016
  #Desing Version 1.0.0
*/
html, body {
    height: 100%;
    background-color: #333;
}
a:focus, a:hover {
    color: #2897AA!important;
    text-decoration: none!important;
    outline: 0!important;
    outline-offset: 0!important;
}
a:focus {
	color: white!important;
}
/* Header Menu */
header {
    transition: all 300ms ease-in-out;
    position: fixed;
    width: 100%;
    z-index: 999;
    visibility: hidden;
    font-family: "Abel",sans-serif!important;
}
.logo {
	transition: all 50ms ease-in-out;
	visibility: hidden;
}
.menu-holder {
	margin-top: 24px;
    margin-bottom: 24px;
}
.fixed {
	position: fixed;
    background-color: #010108;
    visibility: visible;
}
header .logo {
    display: inline-block;
}
header a {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-property: color, border-color, background-color;
    transition-property: color, border-color, background-color;
}
header a:hover {
	color: #2897AA;
	text-decoration: none;
}
header .header-nav-holder {
    display: inline-block;
}
header ul.header-nav-ul {
    margin: 0 0 0 25px;
    padding: 0;
}
header ul.header-nav-ul li {
    display: inline;
}
header ul li {
	padding-left: 10px;
	padding-right: 10px;
    list-style: none;
    transition: all 50ms ease-in-out;
	visibility: hidden;
}
.menu-partnership {
	margin: 0;
	right: 0;
	top: 10px;
	font-size: 18px;
	color: white;
	transition: all 50ms ease-in-out;
	visibility: hidden;
}
.menu-partnership img {
	padding: 10px;
	width: 100px;
}
.fixed .logo {
	transition: all 300ms ease-in-out;
	visibility: visible;
}
.fixed ul li {
	transition: all 300ms ease-in-out;
	visibility: visible;
}
.fixed .menu-partnership {
	transition: all 300ms ease-in-out;
	visibility: visible;
}
.services-menu-option:hover ~ hr {
  margin-left: 25%;
}

.work-menu-option:hover ~ hr {
  margin-left: 50%;
}

.contact-menu-option:hover ~ hr {
  margin-left: 75%;
}

hr {
  opacity: 0;
  height: .25rem;
  width: 25%;
  margin: 0;
  margin-top: 14px!important;
  margin-bottom: 0!important;
  background: tomato;
  border: none;
  visibility: hidden;
  transition: margin-left .3s ease-in-out, visibility 50ms ease-in-out, opacity 0.3s ease-in-out;
}
.fixed hr {
	visibility: visible;
}
/* Mobile Menu */
.menu-holder-mobile {
	display: none;
	height: 100px;
}
.logo-mobile {
	transition: all 50ms ease-in-out;
	visibility: hidden;
	height: 100%;
}
header .logo-mobile {
	width: 100%;
    display: table;
}
.fixed .logo-mobile {
	transition: all 300ms ease-in-out;
	visibility: visible;
}
.menu-partnership-mobile {
	display: none;
	margin: 0;
	right: 0;
	top: 10px;
	font-size: 18px;
	color: white;
	transition: all 50ms ease-in-out;
	visibility: hidden;
	text-align: center;
	vertical-align: middle;
}
.fixed .menu-partnership-mobile {
	transition: all 300ms ease-in-out;
	visibility: visible;
}
.menu-partnership-mobile img {
	padding: 10px;
	width: 100px;
}
/* Menu Hamburger Icon */
.mobile-toggle {
	display: table-cell;
	vertical-align: middle;
	height: 21px;
	width: 35px;
	z-index: 99999;
}
.mobile-toggle-span-holder {
	display: table-cell;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.mobile-toggle .mobile-toggles {
	content: "";
    display: block;
    width: 35px;
    height: 3px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    background: #fff;
}
.mobile-toggle-second {
	margin: 6px 0px;
}
/* Mobile Menu */
.header-nav-holder-mobile {
	position: fixed;
	display: none;/*table*/
    background-color: #000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99999;
    visibility: visible;
    opacity: 0.9;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
    font-family: "Abel",sans-serif!important;
}
.header-nav-holder-mobile nav {
	display: table-cell;
	vertical-align: middle;
}
.header-nav-holder-mobile nav ul {
	margin: 0;
    padding: 0;
    text-align: center;
}
.header-nav-holder-mobile nav ul li {
	display: block;
	margin-bottom: 25px;
}
.header-nav-holder-mobile nav ul li a {
	color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.header-nav-holder-mobile nav ul li a:hover {
	color: #2897AA;
}
/* Close Menu Icon */
.header-nav-holder-mobile .mobile-toggle-close {
	position: absolute;
    top: 30px;
    right: 30px;
    height: 35px;
    width: 35px;
    cursor: pointer;
}
.header-nav-holder-mobile .mobile-toggle-close span {
	content: "";
    position: absolute;
    width: 35px;
    height: 3px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    background: #fff;
}
.header-nav-holder-mobile .mobile-toggle-close span.mobile-toggle-close-first {
  top: 16px;
  transform: rotate(45deg);
}

.header-nav-holder-mobile .mobile-toggle-close span.mobile-toggle-close-second {
  top: 16px;
  transform: rotate(-45deg);
}

/* Menu Media Query */
@media screen and (max-width: 992px) {
	.menu-holder-mobile {
		display: block;
	}
	.menu-partnership {
		display: none;
	}
	.menu-partnership-mobile {
		display: table-cell;
	}
	.menu-holder {
		display: none;
	}
	.menu-partnership-holder {
		display: none;
	}
}
@media screen and (max-width: 450px) {
	.menu-partnership-mobile img {
		width: 60px;
	}
}
@media screen and (max-width: 325px) {
	.menu-partnership-mobile {
		font-size: 16px;
	}
	.mobile-toggle {
		width: 30px;
	}
	.mobile-toggle .mobile-toggles {
		width: 30px;
	}
}
@media screen and (max-width: 306px) {
	header {
		height: 128px;
	}
	.menu-partnership-mobile span {
		display: block;
	}
}
/* END Header Menu END */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: url(../img/background-Index-Side-Wrapper.png) no-repeat center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 100px rgba(0,0,0,.5);
    box-shadow: 0 0 100px rgba(0,0,0,.5);
}
/* About Section */
#about {
	padding: 40px 0px;
	background-color: #333844;
	background-image: url(../img/background-about-me.png);
	background-attachment: fixed;
	background-position: right 0px bottom -170px;
	background-repeat: no-repeat;
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    font-family: "Abel",sans-serif!important;
}
.row-About-Me {
	height: auto;
}
.about-me-container {
	display: table;
    content: " ";
	width: calc(90%);
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row-about-me-header-holder {
	display: table;
}
.about-me-header {
	font-size: 45px;
	color: white;
}
.about-me-header p {
	margin: 0 auto;
}
.about-me-article {
	font-size: 20px;
	color: #969696;
    font-style: italic;
}
.about-me-article p {
	margin: 0 auto;
}
.mini-logo {
	display: table-cell;
	width: 80px;
	height: 80px;
	background: black;
	border-right: 1px solid orange;
}
.mini-logo-text {
	display: table-cell;
	vertical-align: middle;
	color: white;
	font-size: 20px;
	font-family: Arial;
}
.about-me-footer-text {
	font-size: 20px;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}
.about-me-footer-icons {
	display: table;
}
.about-me-footer-icon-photoshop {
	display: table-cell;
	width: 80px;
	padding-right: 10px;
}
.about-me-footer-icon-photoshop img {
	width: 80px;
	height: 80px;
}
.about-me-footer-icon-illustrator {
	display: table-cell;
}
.about-me-footer-icon-illustrator img {
	width: 80px;
	height: 80px;
}
.row-about-me-logo img {
	display: block;
	margin: 0 auto;
	width: 400px;
}
/* About Media Query */
@media screen and (max-width: 992px) {
	.row-about-me-logo img {
	width: 100%;
    }
}
/* END About Section END */
.row-Service {
	margin:0 auto!important;
	background-color: #fff;
	height: 400px;
	font-family: "Abel",sans-serif!important;
}
.row-Projects {
	margin:0 auto!important;
	height: auto;
	background-color: #353945;
	font-family: "Abel",sans-serif!important;
}
.padding-zero {
	padding: 0!important;
}
.row-Projects-img img {
	width: 100%;
	height: auto;
	-webkit-filter: grayscale(100%); filter: grayscale(100%);
	-webkit-transition-duration: 0.6s; /* Safari */
}
.row-Projects-img:hover img {
	-webkit-filter: grayscale(0%); filter: grayscale(0%);
}
.row-Service-Tag {
	padding-top: 10px;
    color: white;
    font-size: 16px;
    color: rgb(218, 218, 218);
    font-weight: 500;
    text-transform: uppercase;
    color: #00daff;
}
.row-Service-Name {
	color: white;
    font-size: 40px;
    font-weight: bold;
}
.row-Service-Type {
	font-size: 16px;
    padding-bottom: 10px;
    color: white;/* #ff9371 */
    font-weight: 500;
    text-transform: uppercase;
}
.row-Projects-img-overlay {
	position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 24, 53,0.6);
    z-index: 1;
    transition-duration: 0.2s;
}
.row-Projects-img:hover .row-Projects-img-overlay {
	background: rgba(0, 24, 53,0);
}
/* Contact Form Section */
#contact {
	background-color: white; /* #333844 */
	font-family: "Abel",sans-serif!important;
	padding: 40px 0 !important;
	text-align: center;
}
.row-Contact-Form {
	height: auto;
}
.contact-me-tittle-First {
	color: black;
	font-size: 60px;
	margin: 0 auto;
}
/* Contact Form Design */
form {
    width: 100%;
    margin: 0 auto;
}
.FormContactNameEmail {
  position: relative;
  width: 100%;
  height: auto;
}
.inputcontactnameemaildiv {
    width: 100%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
.inputContactNameEmail {
    width: 100%;
    font-size: 20px;
    background-color: #fff;
    border: solid 3px black;
    padding: 21px;
    width: 100%;
    color: #000;
    border-radius: 10px;
    vertical-align: middle;
}

.inputContactNameEmail:focus {
  border: 6px solid #2897AA;
  padding: 18px;
  outline:0;
  border-radius: 10px;
}
.InputTextHolder {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 29px;
}
.inputContact {
    width: 100%;
    font-size: 20px;
    background-color: #fff;
    border: solid 3px black;
    padding: 21px;
    width: 100%;
    color: #000;
    border-radius: 10px;
}
.inputContact:focus {
  border: 6px solid #2897AA;
  padding: 18px;
  outline:0;
  border-radius: 10px;
}
.SumbitHolder {
  position: relative;
  width: 100%;
  padding-top: 15px;
}
.SubmitContact {
    width: 100%;
    margin: 0 auto!important;
    font-size: 20px;
    background: transparent;    
    border: solid 3px black;
    padding: 21px;
    color: black;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.SubmitContact:hover {
  background: black;
  color: white; 
}
footer {
	position: relative;
	padding: 40px 0px;
	background-color: #182124;
	font-family: "Abel",sans-serif!important;
}
.footer-logo {
	display: block;
	text-align: center;
}
.footer-logo img {
	width: 60px;
}
.footer-logo-text {
	display: block;
    font-size: 30px;
    vertical-align: middle;
    text-align: center;
    padding-left: 10px;
	color: white;
	letter-spacing: 5px;
}
.footer-copy-right {
	text-align: center;
	color: #ACB1B4;
}
.footer-copy-right strong {
	color: white;
}
.footer-copy-right strong:hover {
	color: #2897AA;
}
.footer-copy-right strong a {
	text-decoration: none;
	color: white;
}
.footer-copy-right strong a:hover {
	color: #2897AA;
}
.footer-social-media {
	padding: 15px;
	text-align: center;
	font-size: 60px;
}
.footer-social-media-icons a {
	text-decoration: none;
	color: #333;
	cursor: pointer;
}
.footer-social-media-icons a:hover {
	color: #2897AA;
}
@media screen and (max-width: 380px) {
	.footer-social-media {
		font-size: 40px;
	}
}
@media screen and (max-width: 580px) {
	.footer-social-media {
	padding: 0!important;
    }
    .footer-social-media-icons {
	padding: 0!important;
    }
}
@media screen and (max-width: 510px) {
	.row-about-me-logo {
		padding: 0!important;
	}
}